img {
    width: 200px;
}

body {
    text-align: center;
    
    font-size: 25px;
}

.two {
    font-family: Courier, Verdana;
}

.one {
    font-family: serif;
}

h1:hover {
        color: red;
    }